nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  img {
    height: 3.6rem;
    width: 11rem;
  }
  .nav__links {
    width: auto;
    display: flex;
    gap: 4rem;
    .nav__link {
      list-style: none;
      text-decoration: none;
    }
  }
  .btn__group {
    display: flex;
    gap: 1rem;
    .sign__in {
      background: white;
      width: 7rem;
      border-radius: 3px;
      cursor: pointer;
    }
    .register {
      width: 9rem;
      border-radius: 3px;
      cursor: pointer;
      background-color: var(--primary-btn-color);
    }
  }
  .menu__icon {
    display: none;
  }
}

@media only screen and (min-width: 360px) and (max-width: 900px) {
  nav {
    .nav__links {
      display: none;
    }
    .btn__group {
      display: none;
    }
    .menu__icon {
      display: flex;
      align-self: center;
      position: relative;
      left: 3rem;
      font-size: 2.3rem;
    }
  }
}
