nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  img {
    height: 3.6rem;
    width: 11rem;
  }
  .nav__links {
    width: auto;
    display: flex;
    gap: 4rem;
    .nav__link {
      list-style: none;
      text-decoration: none;
    }
  }
  .btn__group {
    display: flex;
    gap: 1rem;
    .sign__in{
        background: white;
    }
  }
}
